@font-face {
    font-family: 'Open Sans';
    src: url(../Fonts/roboto.woff2) format('woff2'), url(../Fonts/roboto.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
.highlight {
    background-color:orange !important;
}

h1,
h2 {
    font-family: "Open Sans", arial, sans-serif;
    font-weight: normal;
    color: gray;
}

header {
    flex: 0 0 auto;
}

    header > h1 {
        margin: 2pt 0;
        padding: 0.5em 0;
        font-size: 3em;
    }

main {
    flex-grow: 3;
    flex-basis:auto;
    min-height:80%;
    margin-top:auto;
    width: 100%;
}
div.game > header > h2 {
    padding:0 0.5em;
    margin:0;
    width:100%;
    text-align:center;
}
div.game > section {
    height:inherit;
}
div.game > section > div {
    min-width:270px;
    min-height:34px;
    
}
div.game > section > div > div {
    display:inline-block;
    min-width:33.75px;
    width: 10%;
    height:10%;
    min-height:33.75px;
    max-height:800px;
    max-width:800px;
}
div.users > header, div.game > header {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    margin-bottom: 1em;
    display: flex;
    align-items:center;
    padding: 0.3em;
}

    div.users > header > h2 {
        display: inline-block;
        padding:0 0.5em;
        margin: 0;
    }

    div.users > header > input[type="button"] {
        padding: 0.5em;
        background: none;
        color: gray;
        border: 0;
        outline: none;
        font-size: large;
        transition: 0.2s ease-in;
        margin-left: auto;
    }

        div.users > header > input[type="button"]:active {
            background-color: #bdc8ca;
        }

div.users, div.game {
    min-height: 100%;
    height:100%;
    width: 100%;
}

    div.users > section > ul {
        padding-left: 0;
        font-family: "Open Sans", Arial, sans-serif;
        font-size: large;
    }

        div.users > section > ul > li {
            display:block;
            border:2px thin gray;
            margin: 1em 0;
            padding: 0.5em;
        }

body {
    margin: 0 auto;
    min-width: 100vw;
    width: 1px;
    min-height: 100vh;
    height: 1px;
    background-color: rgb(78, 111, 130);
}

    body > #Page {
        min-width:270px;
        min-height: 475px;
        display: flex;
        flex-direction: column;
        padding-bottom:1em;
        margin: 0 auto;
        width: 90%;
        height: 95%;
        text-align: center;
        border: 2px ridge black;
        background-color: #b5d4d8;
    }

main > form {
    padding: 0.3em;
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 1em;
    display: flex;
    justify-content: flex-end;
}

    main > form > input[type='text'] {
        display: inline;
        color: gray;
        font-size: large;
        padding: 0.5em;
        min-width: 150px;
        border: 0;
        transition: 0.3s ease-in;
        text-align: center;
    }

        main > form > input[type='text']:focus {
            outline: 0;
            border: 0;
            box-shadow: none;
        }

    main > form > input[type='submit'] {
        padding: 0.5em;
        background: none;
        color: gray;
        border: 0;
        outline: none;
        font-size: large;
        transition: 0.2s ease-in;
    }

        main > form > input[type='submit']:active {
            background-color: #bdc8ca;
        }

div.load {
    display: none;
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

    div.load > div {
        border-radius: 50%;
        padding: 0;
        margin: 0;
        border-top: 2pt solid rgb(78, 111, 130);
        border-bottom: 1pt solid #ffffff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
        width: 50px;
        height: 50px;
        -moz-animation: spin 2s linear infinite;
        -o-animation: spin 2s linear infinite;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

@-moz-keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
