@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

h1,
h2 {
    font-family: "open sans", arial, sans-serif;
    font-weight: 300;
    color: gray;
}

header {
    flex: 0 0 auto;
}

    header > h1 {
        margin: 2pt 0;
        width: 100%;
        padding: 1em 0;
        font-size: 3em;
    }

main {
    flex:0 1 auto;
    width:100%;

}

div.users > header {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    padding: 0.3em;
    margin-bottom: 1em;
    position: relative;
}

    div.users > header > h2 {
        margin: 0;
        display: inline-block;
    }

    div.users > header > input[type="button"] {
        position: absolute;
        right: 0;
        top: 50%;
        padding: 0.5em;
        transform: translateY(-50%);
        width: 30%;
        background: none;
        color: gray;
        border: 0;
        outline: none;
        font-size: large;
        transition: 0.2s ease-in;
    }

        div.users > header > input[type="button"]:active {
            background-color: #bdc8ca;
        }

div.users {
    min-height: 100%;
    width: 100%;
}

    div.users > section > ul {
        list-style-type: none;
        padding-left: 0;
        font-family: "Open Sans", Arial, sans-serif;
        font-size: large;
    }

        div.users > section > ul > li {
            padding: 0.3em;
        }

body {
    margin: 0 auto;
    min-width: 100vw;
    min-height: 100vh;
    width:1px;
    height: 1px;
    background-color: rgb(78, 111, 130);
}

    body > div#Page {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 80%;
        min-height: 95%;
        text-align: center;
        border: 2px ridge black;
        padding-bottom: 2em;
        background-color: #f6feff;
    }

main > form {
    padding: 0.3em;
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

    main > form > input[type='text'] {
        width: 30%;
        color: gray;
        font-size: large;
        padding: 0.5em;
        border: 0;
        transition: 0.3s ease-in;
        text-align: center;
    }

        main > form > input[type='text']:focus {
            outline: 0;
            border: 0;
            box-shadow: none;
        }

    main > form > input[type='submit'] {
        width: 30%;
        padding: 0.5em;
        background: none;
        color: gray;
        border: 0;
        outline: none;
        font-size: large;
        transition: 0.2s ease-in;
    }

        main > form > input[type='submit']:active {
            background-color: #bdc8ca;
        }

div.load {
    display: none;
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

    div.load > div {
        border-radius: 50%;
        padding: 0;
        margin: 0;
        border-top: 2pt solid rgb(78, 111, 130);
        border-bottom: 1pt solid #ffffff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
        width: 50px;
        height: 50px;
        -moz-animation: spin 2s linear infinite;
        -o-animation: spin 2s linear infinite;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

@-moz-keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
